.notification {
    height: 100%;
    overflow-y: scroll;
    width: max-content;
    padding: 1em;
    position: absolute;
    top: 0;
    background-color: white;
    border: 1px solid lightgray;
    transform: translateX(-100%);
    opacity: 0;
    left: 0;
    z-index: 999;
    transition: all .5s ease-in-out;
}

.notification.active {
    transform: translateX(0%);
    opacity: 1;
    left: 100%;
    background-color: white;
    box-shadow: 30px 0px 40px 1px rgb(228, 228, 228);
}

.notification h1 {
    font-size: 1.2rem;
}

.tabNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}

.tabNavbar span {
    display: grid;
    padding: .2em;
    background-color: whitesmoke;
    border-radius: 100%;
}

.tabNavbar span:hover {
    color: white;
    cursor: pointer;
    background-color: var(--themeColor);
}

.tabNavbar h1 {
    margin-left: 10px;
}

@media (max-width:768px) {
    .notification {
        width: 100%;
        position: fixed;
        transform: translateX(100%);
        opacity: 1;
        right: 0;
        top: 0;
    }

    .notification.active {
        transform: translateX(-100%);
    }
}