.heading {
    padding: 0.5rem;

}

.modalNav {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    border-bottom: 1px solid lightgray;
}


.uploadBox {
    display: flex;
    flex-direction: column;
}

.previewFrame {
    height: 100%;
}

.uploadArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1em;
    height: 100%;
    width: 100%;
}

.uploadBox {
    height: 80dvh;
    width: 80dvb;
}

@media (max-width:768px) {
    .uploadBox {
        height: 70%;
        width: 95%;
    }
}