.heading {
    padding: 0.5rem;

}

.modalNav {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    border-bottom: 1px solid lightgray;
}


.uploadArea {
    display: grid;
    justify-items: center;
    gap: 2rem;
    padding: 2rem 5rem;
    margin: auto;
}

.previewFrame {
    height: 70vh;
    width: 30vw;
}