.heading {
    padding: 0.5rem;

}

.modalNav {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    border-bottom: 1px solid lightgray;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.uploadBox {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10em;
}

.uploadArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1em;
    height: 100%;
    width: 100%
}

.previewFrame {
    height: 50dvh;
}

.previewShown {
    padding: 0;
}

@media (max-width:968px) {
    .previewFrame {
        height: 100%;
        width: 100%;
    }

    .uploadBox {
        width: 90%;
        padding-left: 1em;
        padding-right: 1em;
    }
}