.profileCard {
    display: grid;
    overflow-y: scroll;
    height: 100%;
}

.userInfo {
    display: grid;
    grid-template-columns: auto 500px;
    margin: auto;
    align-items: center;
    grid-gap: 2.5rem;
    padding: 3.5em;
}

.ProfilePicture {
    grid-row: 1/4;
    align-self: flex-start;
    height: 200px;
    width: 200px;
    background-color: white;
    /* padding: 1rem */
}

.userActions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.userStatstics {
    display: flex;
    align-items: center;
    gap: 3rem;
    letter-spacing: 1px;
}

.userStatstics span {
    font-weight: 500;
}

.userStatstics span>span {
    font-weight: 600;
}

.userName {
    font-size: 1.5rem;
}

.messageBtn {
    background-color: rgb(233, 233, 233);
    color: black;
    padding: 0 !important;
}

.userDescription {
    width: 80%
}

.userContent {
    border-top: 1px solid lightgray;
}

.tabBtns {
    justify-content: center;
    display: flex;
    gap: 3rem;
}

@media (max-width:1100px) {

    .userInfo {
        padding: 1rem;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .userDescription {
        width: auto;
    }

    .skeletonSize {
        width: 500px;
    }
}

@media (max-width:768px) {
    .profileCard {
        display: block;
    }

    .userActions {
        display: grid;
    }

    .userName {
        grid-column: 1/-1;
    }

    .tabBtns {
        gap: 1.5rem;
    }

    .skeletonSize {
        width: 250px;
    }

    .messageBtn {
        display: none !important;
    }
}