.profileCard {
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: 40%;
}

.moreOption {
    transform: rotate(270deg);
    font-size: 1.5rem;
    cursor: pointer;
}

.userInfo {
    display: grid;
    grid-template-columns: 200px 500px;
    margin: auto;
    align-items: center;
    grid-gap: 2.5rem;
}

.ProfilePicture {
    grid-row: 1/4;
    align-self: flex-start;
}

.userActions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.userStatstics {
    display: flex;
    align-items: center;
    gap: 3rem;
    letter-spacing: 1px;
}

.userStatstics span {
    font-weight: 500;
}

.userStatstics span>span {
    font-weight: 600;
}

.userName {
    font-size: 1.5rem;
}

.messageBtn {
    background-color: rgb(233, 233, 233);
    color: black;
}

.userDescription {
    width: 80%
}

.userContent {
    border-top: 1px solid lightgray;
}

.tabBtns {
    justify-content: center;
    display: flex;
    gap: 3rem;
}