.contentBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    grid-gap: 0.3rem;
    justify-content: center;
    position: relative;
}

.contentBox img {
    height: 100%;
    width: 100%;
}