.videoCard {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: black;
    height: 600px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 15px lightgrey;
}


.videoCard video {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
}

.playBtn,
.volumeBtn {
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: all 200ms ease-in-out;
    color: white;
}

.volumeBtn {
    font-size: 2.5rem;
    top: 20px;
    right: 20px;
    padding: .5rem;
    background-color: rgba(219, 219, 219, 0.5);
    transition: all 200ms ease-in-out;
}

.volumeBtn:hover {
    scale: 1.2;
}

.playBtn {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 5rem;
    padding: 1.5rem;
    bottom: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
    animation: popupPlayBtn 300ms ease-in-out forwards;
    scale: .5;
    opacity: 0;
    stroke: var(--themeColor);
    stroke-width: 1px;
}

@keyframes popupPlayBtn {
    60% {
        scale: 1;
        opacity: 1;
    }

    80% {
        scale: 1.1;
        opacity: 1;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

.sideOptions {
    position: absolute;
    bottom: 10px;
    left: 100%;
}


@media (max-width:768px) {
    .sideOptions {
        color: white;
        left: 5px;
        bottom: 15px;
    }

    .videoCard {
        width: auto;
        height: 100%;
    }

}