.button {
    padding: .5rem 1rem;
    /* border-radius: 10px; */
    border: none;
    background-color: var(--themeColor);
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: all ease .5s;
}

.button:active {
    scale: 0.5;
}