.brandLogo {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Oleo Script', cursive !important;
    text-decoration: none;
    color: var(--themeColor);
}

.brandLogo .tagLine {
    color: var(--textColor);
    font-weight: 600;
    position: relative;
    left: 20px;
    bottom: 5px;
}