.dashboard {
    height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
}

@media (max-width:768px) {
    .dashboard {
        display: flex;
        flex-direction: column-reverse;
    }
}