.showTabBtn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    padding: 1em .5em;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: var(--textColor);
}

.showTabBtn:global(.active) {
    color: var(--themeColor);
    font-weight: 600;
    border-top: 1px solid var(--themeColor);
}