.headerContainer {
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2rem;
    position: fixed;
    width: 100%;
    background-color: black;
}

.brandColor {
    color: white;
}

.logOutBtn {
    padding: .5rem 1rem;
    background-color: transparent;
    border: 2px solid var(--themeColor);
}