.sideBar {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-right: 1px solid lightgray;
}

.sideBarLogo {
    font-size: 2rem;
}


.link {
    font-size: 1rem;
}

.link:global(.active) {
    color: var(--themeColor);
    font-weight: 600;
    background-color: whitesmoke;
    border: 1px solid var(--themeColor);
}

.linkContainer {
    display: grid;
    grid-gap: 1rem;
    /* line-height: 10px; */
}