.signUpForm {
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

.container {
    display: grid;
    place-items: center;
    height: 100dvh;
}

.signUpForm p {
    font-weight: 600;
    color: var(--textColor);
}

.isEmpty {
    border: 1px solid red;
}

.uploadFileBox {
    border: 2px solid lightgray;
    border-style: dashed;
    padding: .5em;
    cursor: pointer;
}