.iconWrapper {
    padding: 2rem;
    border-radius: 100%;
    border: 2px solid var(--themeColor);
    width: fit-content;
    color: var(--themeColor);
    margin: auto;
}

.icon {
    font-size: 3rem;
}

.forgetPasswordBox {
    display: grid;
    gap: 1rem;
    text-align: center;
    max-width: 400px;
    padding: 2rem;
}

.paragraph {
    color: gray;
    text-align: center;
}