.notificationItem {
    display: flex;
    gap:.5rem;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    margin: .5rem auto;
    border-radius: 5px;
}

.avatar {
    background-color: lightgray;
    margin-right: 1em;
    border-radius: 100%;
    height: 60px;
}

.notificationItem:hover {
    background-color: whitesmoke;
}

.postImg {
    background-color: lightgray;
    height: 60px;
    padding: .5em;
}

.time,
.userName {
    font-weight: 600;
}

@media (max-width:768px) {
    .avatar{
        height: 40px;
        width: 40px;
    }
    .notificationItem{
        font-size: .9em;
    }
}