.postsContainer {
    /* background-color: red; */
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(50px, 200px));
    grid-gap: .5rem;
    justify-content: center;
    position: relative;
}

.postsContainer .postItem {
    height: 100%;
    width: 100%;
    box-shadow: unset;
}

@media (max-width:768px) {
    .postsContainer {
        grid-template-columns: repeat(auto-fit, minmax(50px, 350px));
    }
}