 .toastContainer {
     position: absolute;
     top: 100px;
     right: 50px;
     display: flex;
     align-items: center;
     gap: .5rem;
     background-color: whitesmoke;
     padding: .5rem;
     border-radius: 5px;
     box-shadow: 1px 1px 10px 2px lightgray;
     animation: toastAnimation .5s ease-in-out;
 }

 .toastIcon {
     background-color: var(--themeColor);
     padding: .5rem;
     border-radius: 100%;
     color: white;
     display: flex;
     align-items: center;
 }

 .closeToaster {
     display: flex;
     align-items: center;
     cursor: pointer;
 }

 @keyframes toastAnimation {
     0% {
         transform: translateY(100%);
         opacity: 0;
     }

     100% {
         transform: translateY(0);
         opacity: 1;
     }
 }