.form {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
    gap: 1rem;
    width: 350px;
    margin: auto;
    padding: 1em 2em;
}

.googleSign_in {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-decoration: none;
    gap: .5rem;
    color: var(--textColor);
}

.googleSign_in .googleLogo {
    background-color: rgb(0, 16, 135);
    color: white;
    font-size: 1.5rem;
    padding: .3rem;
    border-radius: 3px;

}

.forgetPassword {
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    margin-top: .5em;
    font-size: .8;
    color: var(--textColor);
}

.passwordInputBox {
    position: relative;
}

.passwordShowBtn {
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.passwordShowBtn:hover {
    color: var(--themeColor);
}

.loginForm {
    display: grid;
    place-items: center;
}


.containerEffect {
    /* border: 2px solid rgba(211, 211, 211, 0.5); */
    border-radius: 3px;
}

.copyrights strong {
    color: var(--themeColor);
}